application:
  data-sources:
    - type: "api"
      name: "stack-questions"
      url: "https://api.stackexchange.com/2.3"
      headers:
        Accept-Encoding: "gzip"
      authentication:
        type: "key"
        key: "{secrets.key}"
        query-param: "key"
      storage:
        type: "local"
        path: "./data/"
      requests:
        url: "/questions?order=desc&sort=activity&site=stackoverflow"
        headers:
          Accept-Language: en-US,en;q=0.5
        page:
          size: 10
          page-param: "page"
          size-param: "pagesize"
        response:
          type: "json"
          filters:
            - type: "root"
              root: "$.items[*].question_id"
        linkedRequests:
          - url: "/questions/{question_id}/answers?order=desc&sort=activity&site=stackoverflow"
            response:
              type: "json"
            # optionally add filters, more linkedRequests, etc.
      store: "questions-{params.from}&to={params.to}"
